<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Logotecnia
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css")
    link(rel="stylesheet", href="app/style.css")
  body
    header
      img(src="app/img/headbg.svg").bground
      img(src="app/img/logotecnia.svg", alt="Logotecnia").logo
   
    section.whatis
      .title: h2(data-lax-preset="zoomIn").lax ¿Qué es Logotecnia?
      .description: p(data-lax-preset="blurIn").lax Agencia creativa encargada de equipar a emprendedores con sus  elementos de diseño y comunicación gráfica, que le permitan crear y definir su imagen corporativa.
      .tri(data-lax-translate-y="400 400, 500 -800" data-lax-rotate="0 0, 500 250" style="left: 20px;").lax
      .tri(data-lax-translate-y="0 600, 600 -500" data-lax-rotate="0 0, 800 -360" style="left: 100px;").lax
      .tri(data-lax-translate-y="0 1000, 800 -600" data-lax-rotate="0 0, 1000 360" style="left: 80px;").tr2.lax
      .tri(data-lax-translate-y="0 900, 800 -900" data-lax-rotate="0 0, 1000 -200" style="left: 600px;").tr3.lax
      .tri(data-lax-translate-y="0 1000, 1000 -1000" data-lax-rotate="0 360, 1000 -360" style="left: 150px;").tr4.lax
      .tri(data-lax-translate-y="0 400, 500 -1800" data-lax-rotate="0 0, 500 250" style="left: 20px;").lax
      .tri(data-lax-translate-y="0 600, 600 -1500" data-lax-rotate="0 0, 800 -360" style="left: 110px;").lax
      .tri(data-lax-translate-y="0 1000, 800 -1600" data-lax-rotate="0 0, 1000 360" style="left: 100px;").tr2.lax
      .tri(data-lax-translate-y="0 900, 800 -1900" data-lax-rotate="0 0, 1000 -140" style="left: 400px;").tr3.lax
      .tri(data-lax-translate-y="0 1000, 1000 -1500" data-lax-rotate="0 360, 1000 0" style="left: 200px;").tr4.lax

      .tri(data-lax-translate-y="0 -500, 1000 0" data-lax-rotate="0 250, 1000 100" style="right: 150px;" data-lax-scale="0 1, 1000 .1").tr5.lax
      .tri(data-lax-translate-y="0 -500, 1000 -300" data-lax-rotate="0 50, 1000 80" style="right: 40px;" data-lax-scale="0 1, 1000 .1").tr4.lax
      .tri(data-lax-translate-y="0 -200, 1000 -300" data-lax-rotate="0 50, 1000 300" data-lax-scale="0 5, 1000 .1" style="right: 20px; ").tr2.lax


    section.whatdo.lax(data-lax-translate-x="800 4000, 1200 0")
      .title: h2(data-lax-preset="zoomIn").lax ¿Qué hace Logotecnia?

      .description: p(data-lax-preset="blurIn").lax CREA Y DISEÑA

      .description_detail
        .card(data-lax-scale="1200 0, 1300 1").lax
          include app/img/ico-naming.svg
          .title Naming
          .subtitle Asignación de nombre a la empresa o negocio
        .card(data-lax-scale="1200 0, 1300 1 | offset=-100").lax
          include app/img/ico-logotipos.svg
          .title Logotipos
        .card(data-lax-scale="1200 0, 1300 1 | offset=-120").lax
          include app/img/ico-tarjetas.svg
          .title Tarjetas
          .subtitle de presentación
        .card(data-lax-scale="1200 0, 1300 1 | offset=-140").lax
          include app/img/ico-hojas.svg
          .title Hojas
          .subtitle membretadas
        .card(data-lax-scale="1200 0, 1300 1 | offset=-160").lax
          include app/img/ico-recetas.svg
          .title Recetas
        .card(data-lax-scale="1200 0, 1300 1 | offset=-180").lax
          include app/img/ico-material.svg
          .title Material Publicitario
          .subtitle Folletos, banners, volantes, posters, etc.
        .card(data-lax-scale="1200 0, 1300 1 | offset=-200").lax
          include app/img/ico-paginas.svg
          .title Páginas Web Mini
          .subtitle Sólo lo que debes de mostrar.

      .tri.tr6(data-lax-translate-x="700 -2000, 900 -1600" style="top: -200px;" data-lax-rotate="1000 360, 1200 0").lax#unow
      .tri.tr5(data-lax-translate-x="900 0, 1100 -1000" style="left: 0;"  data-lax-rotate="1000 0, 1200 80").lax
      .tri.tr3(data-lax-translate-x="900 0, 1100 -1400" style="top: -100px;"  data-lax-rotate="100 360, 1200 -360").lax
      .tri.tr6(data-lax-translate-x="900 -500, 1100 -900" style="top: 100px;"  data-lax-rotate="1000 0, 1200 80").lax
      .tri.tr5(data-lax-translate-x="900 0, 1100 -1000" style="top: 150px;" data-lax-rotate="1000 360, 1200 0").lax
      .tri.tr3(data-lax-translate-x="900 0, 1100 -1400" style="top: 200px;" data-lax-scale="1050 1, 1100 5" data-lax-rotate="1000 0, 1200 80").lax
      .tri.tr2(data-lax-translate-x="950 0, 1150 -1400" style="top: 150px;" data-lax-scale="1050 1, 1100 5" data-lax-rotate="1000 0, 1200 -80").lax



    section.callus
      .title: h2(data-lax-preset="zoomIn").lax ¿Cómo nos contactas?

      .contactus
        div.where(data-lax-preset="fadeIn").lax
          .title Llámanos
          .subtitle 55 4099 4071 #[i.fa.fa-whatsapp]
        div.where(data-lax-preset="fadeIn").lax
          .title Escríbenos
          .subtitle contacto@logotecnia.com.mx
      
      form(data-lax-preset="blurIn").lax
        input(type="hidden" name="_to" value="contacto@logotecnia.com.mx")
        input(type="hidden" name="_subject" value="Mensaje de contacto de logotecnia.com.mx")
        .form
          label
            span Nombre
            input(type="text" placeholder="Nombre" name="Nombre" required)
          label
            span Teléfono
            input(type="text" placeholder="Teléfono" name="telefono")
          label
            span Correo
            input(type="email" placeholder="Correo" name="_from" required)
        .form
          label
            span Mensaje
            textarea(placeholder="Mensaje" name="mensaje")
        button(type="submit") Enviar
      .notification.is-dark Tu mensaje ha sido enviado. Nos pondremos en contacto.
    

    section.wherewe
      .triangles
        - for(v=0;v<30;v++)
          - var posyRandom = (Math.random()*600)+200 
          - var posy = "500 -"+posyRandom+", 1400 0"
          - var opaRandom = (Math.random()*20)+2
          - var opaRandom2 = (Math.random()*10)+1
          .triangle(data-lax-opacity="0 .1, 400 1"  data-lax-scale="100 "+opaRandom+", 1000 .1" data-lax-translate-y=posy data-lax-anchor="self").lax
          .triangle.trb(data-lax-opacity="0 .1, 400 1"  data-lax-scale="100 "+opaRandom2+", 1000 .1" data-lax-translate-y=posy data-lax-anchor="self").lax
      .title: h2(data-lax-preset="zoomIn").lax ¿Dónde estamos?
      .description: p(data-lax-preset="blurIn").lax Primera Cerrada de 11 de abril No 11, Col. Escandón, CDMX
      | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.347612579272!2d-99.1816956!3d19.3973811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff64e194f4ff%3A0x9dcb8316c74d8ce0!2s1a.+Cerrada+11+de+Abril+11%2C+Escand%C3%B3n+I+Secc%2C+11800+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1559608630494!5m2!1ses-419!2smx" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    section.whyus
      .title: h2(data-lax-preset="zoomIn").lax ¿Por qué elegirnos?
      .description: p(data-lax-preset="blurIn").lax Porque tenemos más de 10 años de experiencia y  sensibilidad en la identificación de las necesidades de nuestros  clientes. Por ello a  te ofrecemos la mejor calidad, y sobre todo, la imagen corporativa que te hará tener una mayor ventaja competitiva.
    
    section.whyus.bus
      .triangles
        - for(v=0;v<30;v++)
          - var posyRandom = (Math.random()*600)+200 
          - var posy = "500 -"+posyRandom+", 1400 0"
          - var opaRandom = (Math.random()*20)+2
          - var opaRandom2 = (Math.random()*20)+10
          .triangle(data-lax-opacity="0 .1, 400 1"  data-lax-scale="100 "+opaRandom+", 1000 .1" data-lax-translate-y=posy data-lax-anchor="self").lax
          .triangle.trb(data-lax-opacity="0 .1, 400 1"  data-lax-scale="100 "+opaRandom2+", 1000 .1" data-lax-translate-y=posy data-lax-anchor="self").lax

      .title: h2(data-lax-preset="zoomIn").lax ¡Hacemos que te veas bien!
      img(src="app/img/logotecnia.svg", alt="Logotecnia").logo

      


    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/lax.js")
    script.
      window.onload = function() {
        lax.setup() // init
        const updateLax = () => {
          lax.update(window.scrollY)
          window.requestAnimationFrame(updateLax)
        }
        window.requestAnimationFrame(updateLax)
      }

      $(document).ready(function() {
        $('form').submit(function(e){
          e.preventDefault();
            console.log('GO');
            var data = $(this).serialize();
            $.get('https://dragonbarbudo.com/api/email.php?'+data, function(d){
              console.log(d);
              $('form').slideUp();
              $('.notification').slideDown();
            })
          
        });
      });
